#transactions{
    height: auto;
    color: #333;
}

.transaction{
    width: 100%;
    margin-top: 2%;
}


.transaction .description{
    width: 47%;
    float: left;
    margin-left: 2%;
}
.transaction .amount{
    width: 10%;
    float: left;
    margin-left: 2%;
}
.transaction .status{
    width: 10%;
    float: left;
    margin-left: 2%;
}
.transaction .merchant{
    width: 10%;
    float: left;
    margin-left: 2%;
}
.transaction .date{
    width: 10%;
    float: left;
    margin-left: 2%;
}

.transaction .hr{
    background-color: #373737;
    height: 4%;
}

