body{
    background-color: white;
}


.invalid-field{
    border: 2px solid #B6334C;
}

.span-customized{
    color: rgb(246,255,255);
}
.container{
    all: initial;
    all: unset;
    width: 100%;
    height: auto;
}



.form-content{
    margin: auto;
    color: rgb(246,255,255);
    margin-top: 10%;
    background-color:rgb(115,115,115);
    width: 35%;
}

.form-header{
    width:100%;
    padding: 2% 2% 2% 2%;
    border-color:black;
    background-color: #2B2F32;
}
.form-header-right{
    float:right;
    width: 30%;
}
.form-header-left{
    width : 70%;
    float:left;
}


.form-body{
    padding: 4% 4% 4% 4%;
}

.btn{
    background-color:#333;
    border-color: black;
    color: #FAFAFA;
}

.btn:hover {
    background-color:rgb(222,69,30);
    color: white;
}

a {
    color: rgb(222,69,30);
}

a:hover{
    color: rgb(222,69,30);
}
.submit-error{
    color: rgb(222,69,30);
    font-weight: bold;
}

.input-w label, .input-w input {
    float: none;
    display: inline-block;
    line-height: 200px;
}

.input-w input {
    margin-top: -0.5%;
}