body{
    background-color: white;
    color: #333;
}

.form{
    text-align: center;
    align-items: center;
    alignment: center;
}




/*open bank association */
#associate_ob_account{
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 0%;
}
.register-form-header-ob{
    text-align: center;
    width:100%;
    padding: 4% 4% 4% 4%;
}

.form-content-ob{

}

.span-customized-ob{
    color: #333;
}


.submit-btn-ob{
    background-color:#333;
    border-color: black;
}

#show-default-payment-account{
    margin-top: 10%;
    text-align: center;
    float: left;
    height: auto;
    width:50%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.user_settings{
    width: 15%;
    float: left;
    margin:10% 5% 0 5% ;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border: 1px solid #333;
}

.user_settings .remove_obp_association{
    text-align: center;
    font-size: 13px;
    padding: 5% 4% 1% 4%;
}

#show-default-payment-account ul{
    margin: 8% 0 0 0;
    padding: 0;
    border: 2px solid #333;
}

#show-default-payment-account li{
    display: block;
    width: auto;
    padding: 3px 12px 3px 8px;
    border: 1px solid #333;
}

/**end open bank association/

/*Modal to choose another default payment account*/
#bank_accounts{
    margin-top: 10%;
    text-align: center;
    height: auto;
    width:50%;
    margin-left: 25%;
}

#bank_accounts ul{
    margin: 8% 0 0 0;
    padding: 0;
    border: 2px solid #333;
}

#bank_accounts li{
    display: block;
    width: auto;
    padding: 3px 12px 3px 8px;
    border: 1px solid #333;
}

.modal-header{
    text-align: center;
}
/*End of modal*/


.btn{
    background-color:#333;
    border-color: black;
    color: #FAFAFA;
}

.btn:hover {
    background-color:rgb(222,69,30);
    color: white;
}

a {
    color: rgb(222,69,30);
}

a:hover{
    color: rgb(222,69,30);
}
.submit-error{
    color: rgb(222,69,30);
    font-weight: bold;
}

