body{
    background-color: white;
}

#bank_accounts{
    color: #333;
    margin-top: 8%;
    text-align: center;
    height: auto;
    width:50%;
    margin-left: 25%;
}

#bank_accounts ul{
    margin: 8% 0 0 0;
    padding: 0;
    border: 2px solid #333;
}

#bank_accounts li{
    display: block;
    width: auto;
    padding: 3px 12px 3px 8px;
    border: 1px solid #333;
}

#bank_accounts  h3 {
    font-size: 22px;
    margin: 0 0 10% 0;
    display: inline-block;
}


.span-customized{
    color: #333;
}


.btn{
    background-color:#333;
    border-color: black;
    color: #FAFAFA;
}

.btn:hover {
    background-color:rgb(222,69,30);
    color: white;
}

a {
    color: rgb(222,69,30);
}

a:hover{
    color: rgb(222,69,30);
}
.submit-error{
    color: rgb(222,69,30);
    font-weight: bold;
}