.buyNow {
    display: inline-block;
    border-radius: 10px;
    background-image:url('../Images/nearsoftLogo.png');
    border: none;
    color: #f4511e;
    text-align: center;
    font-size: 16px;
    padding: 20px 10px 20px 40px;
    width: 150px;
    height:55px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buyNow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buyNow span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buyNow:hover span {
    padding-right: 20px;
}

.buyNow:hover span:after {
    opacity: 1;
    right: 0;
}

/*login*/
.invalid-field{
    border: 2px solid #B6334C;
}

.span-customized{
    color: rgb(246,255,255);
}



.form-content{
    color: rgb(246,255,255);
    margin-top: 10%;
    background-color:rgb(115,115,115);
}

.form-header{
    width:100%;
    height: 10%;
    padding: 2% 2% 2% 2%;
    border-color:black;
    background-color: #2B2F32;
}
.form-header-right{
    float:right;
    width: 30%;
    height: 10%;
}
.form-header-left{
    width : 70%;
    float:left;
    text-align:left;
}


.form-body{
    padding: 4% 4% 4% 4%;
}

.btn{
    background-color:#333;
    border-color: black;
    color: #FAFAFA;
}

.btn:hover {
    background-color:rgb(222,69,30);
    color: white;
}

a {
    color: rgb(222,69,30);
}

a:hover{
    color: rgb(222,69,30);
}
.submit-error{
    color: rgb(222,69,30);
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: whitesmoke; /* Fallback color */
    background-color: rgba(255,255,255,0.0); /* Black w/ opacity */
    padding-top: 60px;
    color:rgb(222,69,30);
}

/* Modal Content/Box */
.modal-content {
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
.cancelbtn {
    width: auto;
    background-color: #f44336;
    border: 1px;
    border-radius: 8%;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    color:rgb(222,69,30);
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*end of login*/
